Aula 7

In [ ]:
import numpy as np

class Quadrado:
  def __init__(self,lado):
    self.lado=lado

  def area(self):
    return self.lado**2

q1 = Quadrado(10)
q2 = Quadrado(4)

print(q1.area())
print(q2.area())

100
16

In [ ]:
class Triangulo:
  base=0
  altura=0
  def __init__(self,b,h):
    self.base=b
    self.altura=h
  def area(self):
    return self.base*self.altura/2

q1 = Triangulo(4,5)
print(q1.area())

10.0

O matemático Srimivasa Ramamnjan descobriu uma série infinita que pode  ser utilizada para encontrar uma aproximação do valor de 1/pi.

1/pi = 2sqrt2/9801 somatorio (k=0,infinito) (4k)!*(1103+26390k)/(k!)^4*396^4k

## Exercício 1) Escrever uma funçao "estimar_pi" que utiliza a fórmula de Ramamnjan para calcular o valor de pi. A função deve utilizar um while para calcular os termos da adição até que o último termo seja menor que 1e-15.

In [ ]:
import math

def fatorial(n):
  if n == 0:
    return 1
  else: 
    recurse = fatorial(n-1)
  
  result = recurse*n

  return result

print(fatorial(40))

815915283247897734345611269596115894272000000000